<div class="container">
  <% if user_signed_in? %>
    <%= render 'public/posts/toplist'%>
  <% end %>
  <div class="row img1">
    <h1 class="title text-center p-4">snow_snow
      へようこそ</br>
      お気に入りの写真や</br>
      滑りに行ったことを</br>
      自由に投稿して</br>
      仲間と繋がろう
    </h2>
  </div>
</div>