<div class="container">
  <div class="row border border-dark rounded-pill shadow mb-5 bg-white rounded">
    <div class="col-12 text-center">
      <span class="col-6">
        <%= link_to "投稿一覧", posts_path, class: "btn btn-dark text-light m-2" %>
      </span>
      <span class="col-6">
        人気の投稿
      </span>
    </div>
  </div>
  <div class="row img1">
    <h2 class="text-center p-4">
      snow_snowへようこそ</br>
      お気に入りの写真や</br>
      滑りに行ったことを</br>
      自由に投稿して</br>
      仲間と繋がろう
    </h2>
  </div>
</div>