<div class="container">
  <% if user_signed_in? %>
    <%= render 'public/posts/toplist'%>
  <% end %>
  <div class="row text-center">
    <div class="col-12 p-2 shadow mb-5 bg-white rounded">
      <h1>snow_snowへようこそ</h1>
      <p>～お気に入りの写真を投稿して仲間を作ろう～</p>
      <%= image_tag '1485-0.JPG', size: "800x600", style: "border-radius: 50%; width: 800px; height: 600px; object-fit:cover;" %>
    </div>
  </div>
</div>