<div class="container">
  <% if user_signed_in? %>
    <%= render 'public/posts/toplist'%>
  <% end %>
  <div class="row text-center text-light">
    <div class="col-12 p-2 shadow mb-5 bg-dark rounded">
      <h1 class="title"><strong>snow_snow</strong><small>へようこそ</small></h1>
      <p class="sub-title">～お気に入りの写真を投稿して仲間を作ろう～</p>
      <%= image_tag '1485-0.JPG', size: "800x600", style: "border-radius: 50%; width: 800px; height: 600px; object-fit:cover;" %>
    </div>
  </div>
</div>