
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru=&display=swap');


html,body{
	height:100%;
	
}

.wrapper{
     width: 100%;
     position: relative;
     min-height: 100%;
}

.inner{
     padding-bottom:100px; /*フッターの高さと同じにする*/
     
}

footer{
     height:100px;
     position:absolute;
     bottom:0;
}

.img1{
     background-image: url("/assets/819-0.jpg");
     height: 350px;
     background-size: cover;
     background-attachment: fixed;
     background-position: center center;
     width: 100%;
     position: relative;
}

.sub-title, .title, small, footer{
  font-family: 'Kiwi Maru', serif;
}

.image2 {
     border-radius: 50%; 
     width: 800px; 
     height: 600px; 
     object-fit:cover;
     margin: auto;
     display: block;
}
