<div class="container">
    
  <div class="row">
    <div class="alert alert-dark my-3" role="alert">
      <h3>会員一覧</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th class="table-dark">会員ID</th>
            <th class="table-dark">氏名</th>
            <th class="table-dark"></th>
            <th class="table-dark"></th>
            <th class="table-dark">メールアドレス</th>
            <th class="table-dark">会員ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to user.name, admin_user_path(user), class: "text-decoration-none text-dark border-bottom border-dark" %>
            </td>
            <td></td>
            <td></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == false %>
                <div class="text-success">有効</div>
              <% else %>
                <div class="text-da">無効</div>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
        <%= paginate @users %>
      </table>
    </div>
  </div>
</div>