<div class="container">
  <div class="row">
    <div class="col text-center p-4">
      <h4 class="font-weight-bold">本当にこのユーザーを退会させますか？</h4>
    </div>
  </div>
  <div class="row">
    <div class="col text-center h-100 w-100">
      <h4>
        退会させると、会員登録情報や</br>
        これまでの投稿をユーザーが閲覧できなくなります。</br>
        退会させる場合は、「退会させる」をクリックしてください。
      </h1>
    </div>
  </div>
  <div class="text-center pt-4">
    <span class="pr-4">
      <%= link_to "退会させない", admin_users_path, class: "btn btn-primary btn-lg" %>
    </span>
    <span class="text-center">
      <%= link_to "退会させる", withdraw_admin_user_path(@user), method: :patch, class: "btn btn-danger btn-lg" %>
    </span>
  </div>
</div>